aStarProject/Board/Debug/*
aStarProject/Board/Release/*
aStarProject/Release/*
aStarProject/Debug/*
*.sdf
*.opensdf
*.suo
aStarProject/AstarSampleProject/Debug/AstarSam.EF030638.tlog/AstarSampleProject.lastbuildstate
aStarProject/AstarSampleProject/Debug/AstarSam.EF030638.tlog/cl.command.1.tlog
aStarProject/AstarSampleProject/Debug/AstarSam.EF030638.tlog/CL.read.1.tlog
aStarProject/AstarSampleProject/Debug/AstarSam.EF030638.tlog/CL.write.1.tlog
aStarProject/AstarSampleProject/Debug/AstarSam.EF030638.tlog/unsuccessfulbuild
aStarProject/AstarSampleProject/Debug/AstarSampleProject.lastbuildstate
aStarProject/AstarSampleProject/Debug/AstarSampleProject.log
aStarProject/AstarSampleProject/Debug/Board.obj
aStarProject/AstarSampleProject/Debug/cl.command.1.tlog
aStarProject/AstarSampleProject/Debug/CL.read.1.tlog
aStarProject/AstarSampleProject/Debug/CL.write.1.tlog
aStarProject/AstarSampleProject/Debug/FileReader.obj
aStarProject/AstarSampleProject/Debug/link.command.1.tlog
aStarProject/AstarSampleProject/Debug/link.read.1.tlog
aStarProject/AstarSampleProject/Debug/link.write.1.tlog
aStarProject/AstarSampleProject/Debug/link-cvtres.read.1.tlog
aStarProject/AstarSampleProject/Debug/link-cvtres.write.1.tlog
aStarProject/AstarSampleProject/Debug/link-rc.read.1.tlog
aStarProject/AstarSampleProject/Debug/link-rc.write.1.tlog
aStarProject/AstarSampleProject/Debug/main.obj
aStarProject/AstarSampleProject/Debug/vc110.idb
aStarProject/AstarSampleProject/Debug/vc110.pdb
aStarProject/AstarSampleProject/Debug/vc120.idb
aStarProject/AstarSampleProject/Debug/vc120.pdb
aStarProject/AstarSampleProject/Debug/AStarSolver.obj
aStarProject/AstarSampleProject/Debug/link.12896.read.1.tlog
aStarProject/AstarSampleProject/Debug/link.12896.write.1.tlog
aStarProject/AstarSampleProject/Debug/link.12896-cvtres.read.1.tlog
aStarProject/AstarSampleProject/Debug/link.12896-cvtres.write.1.tlog
aStarProject/AstarSampleProject/Debug/link.12896-rc.read.1.tlog
aStarProject/AstarSampleProject/Debug/link.12896-rc.write.1.tlog
